

<p class="mb-3">

    {% if page!= url_for('dashboard.index', username=current_user.username) %}
    <a class="btn btn-dark" href="{{ url_for('dashboard.index', username=current_user.username) }}">Dance Insights {%include 'icons/barchart.html' %}</a>
    {% endif %}

    {% if page!= url_for('main.user', username=current_user.username) %}
    <a class="btn btn-dark" href="{{ url_for('main.user', username=current_user.username) }}"> Your Reels {% include'icons/reels.html' %} </a>
    {% endif %}


    <a class="btn btn-warning" href="{{ url_for('main.edit_profile') }}">{% include 'icons/edit.html' %} Edit Profile</a>



    {% if current_user.can(Permission.WRITE) %}
    <a class="btn btn-warning" href="{{ url_for('main.upload_dance_video') }}">{% include 'icons/upload.html' %} Upload New Video</a>
    {% endif %}

    {% if page!= url_for('main.index') %}
    <a class="btn btn-warning" href="{{ url_for('main.index') }}"> {% include 'icons/sparkles.html' %} Get Inspiration</a>
    {% endif %}
    
</p>
