<p>
    {% if current_user.can(Permission.WRITE) %}
    <a class="btn btn-dark" href="{{ url_for('main.upload_dance_video') }}">Upload your video</a>
    <a class="btn btn-outline-secondary" href="{{ url_for('dashboard.index', username=current_user.username) }}">View Dashboard</a>
    <a class="btn btn-outline-secondary" href="{{ url_for('dashboard.reports_overview', username=current_user.username) }}">View Individual Reports</a>
    <a class="btn btn-outline-secondary" href="{{ url_for('main.edit_profile') }}">Update Profile</a>
    {% endif %}
    {% if current_user.is_administrator() %}
    <a class="btn btn-outline-secondary" href="{{ url_for('main.edit_profile_admin', id=current_user.id) }}">Update
        Profile <span class="badge text-bg-danger">ADMIN</span></a>
    {% endif %}
</p>