<div class="bg-black text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <img class="img-fluid" src="{{ url_for('static', filename='assets/images/logo-code.png') }}"
            alt="CODE University of Applied Sciences" width="200">
        <p class="text-white">This research was conducted in cooperation with CODE University of Applied Sciences
            as a capstone and bachelor's thesis project.</p>
        <p class="text-white">© All Rights Reserved, 2023. Kaye So Kua.</p>
    </div>
</div>