{% extends 'custom/base.html' %}
{% import "_macros.html" as macros %}


{% block content %}
<!-- {% include 'custom/_quicknav.html' %} 
<hr class="my-5">-->


    <div class="row" style="margin-right:0">
        

        <div class="col-12">
            <div class="bg-body-tertiary p-5 rounded">
                <div class="row">
                    <div class="col col-2">
                        <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=100) }}"
                            style="border-radius: 15rem;">
                    </div>
                    <div class="col col-10">

                        <p class="display-6">{{ user.username }}</p>
                        {% if user.about_me %}
                        <p class="lead">{% include 'icons/quotes.html' %} {{ user.about_me }} {% include
                            'icons/quotes.html' %} </p>
                        {% endif %}

                        <p class="text-muted">
                            <span class="fw-bold">{% if user.location %} 📍 {{ user.location }} </span> | {% endif %}
                            Member since {{ moment(user.member_since).format('L') }}.
                            Last seen {{ moment(user.last_seen).fromNow() }}.
                            {{ user.posts.count() }} uploaded videos.
                            {{ user.comments.count() }} feedbacks given.

                        </p>

                        {% if user.username == current_user.username %}
                        <p>
                            <a href="{{ url_for('main.followers', username=user.username) }}" class="link-dark"
                                style="text-decoration: none;">👀 Following: <strong>{{user.followers.count() - 1 }}
                                </strong></a>|
                            <a href="{{ url_for('main.followed_by', username=user.username) }}" class="link-dark"
                                style="text-decoration: none;">👥 Followers: <strong>{{user.followed.count() - 1 }}
                                </strong></a>
                        </p>
                        {% else %}
                        <p class="text-muted">
                            👀 Following: <strong>{{user.followed.count() - 1 }} </strong>|
                            👥 Followers: <strong>{{user.followers.count() - 1 }} </strong>

                        </p>

                        {% endif %}



                        {% if current_user.is_authenticated and user != current_user and user.is_following(current_user)
                        %}
                        | <span class="label label-default">Follows you</span>
                        {% endif %}




                        <a href="mailto:{{ user.email }}" class="btn btn-warning"> {% include 'icons/email.html' %} Send
                            Email</a>

                        {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                        {% if not current_user.is_following(user) %}
                        <a href="{{ url_for('.follow', username=user.username) }}" class="btn btn-primary">Follow</a>
                        {% else %}
                        <a href="{{ url_for('.unfollow', username=user.username) }}" class="btn btn-danger">Unfollow</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        




    </div>

    <p class="lead my-5">Latest Updates by {{ user.username }}</p>

    

    <div class="row" data-masonry='{"percentPosition": true }'>
        
        {% for post in posts %}
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card p-3">
                <h6 class="card-title">{{ post.title | safe }}</h6>
                <div class="card-img-top">
                    <figure class="p-3 mb-0" style="height: 100%;">
                        <video class="figure-img img-fluid rounded"
                            src="{{ url_for('main.serve_uploaded_video', author_id=post.author_id, post_id=post.id) }}">

                        </video>


                    </figure>
                </div>
                <div class="card-body">
                    <p>
                        <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=25) }}"
                            style="border-radius:1rem">
                        <a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a>
                        posted {{ moment(post.last_updated_on).fromNow() }}
                    </p>
                    <p class="card-text">{{ post.description | truncate(100, True) }}</p>
                </div>

                {% if current_user == post.author %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-primary">Edit</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-danger">Edit [Admin]</span>
                </a>
                {% endif %}
            </div>
        </div>


        {% endfor %}
    </div>
    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}
    </div>
    {% endif %}

</div>

{% endblock %}