{% extends 'custom/base.html' %}

{% block content %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-8 col-md-8 mx-auto">
      <h1 class="fw-light">Static Pole Dance Poses Dataset</h1>
      <p class="lead text-body-secondary">
        {{ total }} common pole dance poses with spatial landmarks and angle heuristics for your model
      </p>
      <p><a href="{{url_for('main.get_pose_dictionary_table')}}">Download .CSV</a>
      | Download 2D Plots | Download 3D Plots</p>
    </div>
  </div>
</section>

<div class="album py-5">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      {% for posename, orientation, category, image, gif in poses %}
      <div class="col">
        <div class="card shadow-sm">
          <img src="{{ url_for('main.serve_plot3d_object', category=category, gif=gif) }}" class="img-fluid"
            alt="{{posename}}">
          <div class="card-body">
            <p class="card-text">{{ posename }} | {{ orientation }} | {{ category }} </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">

                <a href="javascript:void(0);" onclick="window.open('{{ url_for('main.serve_plot2d_object', category=category, image=image) }}', 
                        'newwindow', 'width=600,height=400'); return false;" class="btn btn-sm btn-outline-secondary">
                  2D Plot
                </a>

                <a href="javascript:void(0);" onclick="window.open('{{ url_for('main.serve_annotated_image', category=category, image=image) }}', 
                        'newwindow', 'width=600,height=400'); return false;" class="btn btn-sm btn-outline-secondary">
                  Sourced Image
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

        <ul class="pagination">
          prev {{ prev_url }}
          next {{ next_url }}
            {% if prev_url %}
                <li class="page-item"><a class="page-link" href="{{ prev_url }}">Previous</a></li>
            {% endif %}
            {% if next_url %}
                <li class="page-item"><a class="page-link" href="{{ next_url }}">Next</a></li>
            {% endif %}
        </ul>

    </div>
  </div>
</div>
{% endblock %}

