{% extends 'custom/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<!-- Spinner (hidden by default) -->
<div id="loadingSpinner" style="display: none;">
    <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span class="visually-hidden" role="status">Processing Video...</span>
    </button>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const form = document.querySelector('form');
        const spinner = document.getElementById('loadingSpinner');

        form.addEventListener('submit', () => {
            // Show the spinner
            spinner.style.display = 'block';
        });
    });
</script>


<div class="p-5 border rounded">


    <div class="row">

        <div class="col col-md-6 col-sm-12" style="min-height:50vh">
            <p class="lead fw-bold">{{page_title}}</p>
            {{ wtf.quick_form(form) }}

            {% if page.startswith('/auth/login') %}
            <br>
            <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset
                    it</a>.</p>
            <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>

            {% endif %}
        </div>
        <div class="col col-md-6 col-sm-12" style="min-height:50vh">
            <svg class="bd-placeholder-img rounded float-start" width="100%" height="100%"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 200x200"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6"
                    dy=".3em">Placeholder</text>
            </svg>
        </div>
    </div>

</div>
{% endblock %}