{% extends 'custom/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container py-5">
    <!-- Spinner (hidden by default) -->
    <div id="loadingSpinner" style="display: none;">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const form = document.querySelector('form');
            const spinner = document.getElementById('loadingSpinner');
    
            form.addEventListener('submit', () => {
                // Show the spinner
                spinner.style.display = 'block';
            });
        });
    </script>
    
    <h3 class="display-6">{{page_title}}</h3>
    <hr class="my-3">

    <div class="row">

        <div class="col-md-8" style="min-height:50vh">

            {{ wtf.quick_form(form) }}

            {% if page.startswith('/auth/login') %}
            <br>
            <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset
                    it</a>.</p>
            <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>

            {% endif %}
        </div>
    </div>
</div>


{% endblock %}